<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
    <div th:fragment="invoiceForm (action, invoice, add)">
        <div class="row">
            <div class="col-sm-10 mt-2">
                <form action="#" th:action="${action}" th:object="${invoice}" method="post">
                    <div class="row mb-3">
                        <label for="invoiceDate" class="col-sm-3 col-form-label">Invoice Date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="invoiceDate" th:field="*{invoiceDate}" th:required="required"/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="serviceDate" class="col-sm-3 col-form-label">Service Date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="serviceDate" th:field="*{serviceDate}" th:required="required"/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="netValue" class="col-sm-3 col-form-label">Net Value</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                            <span class="input-group-text">PLN</span>
                            <input type="text" class="form-control" id="netValue"
                                   data-inputmask="'alias': 'numeric', 'groupSeparator': ' ', 'radixPoint': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'placeholder': '0'"
                                   autocomplete="off" th:field="*{netValue}" th:required="required" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="comments" class="col-sm-3 col-form-label">Comments</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="comments" type="text" maxlength="3000" th:field="*{comments}"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit" name="submit">
                            <span th:text="${add} ? 'Add invoice' : 'Edit invoice'"></span>
                        </button>
                        <button th:if="${add == true}" class="btn btn-secondary" type="reset">Reset form</button>
                        <button class="btn btn-danger" type="submit" name="cancel" formnovalidate><span th:text="Cancel"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:fragment="summary">
        <h1>Summary</h1>
        <div th:object="${invoice}">
            <p th:text="'Invoice Date: ' + *{invoiceDate}"></p>
            <p th:text="'Service Date: ' + *{serviceDate}"></p>
            <p th:text="'Net Value: ' + *{netValue}"></p>
            <p th:text="'Comments: ' + *{comments}"></p>
            <p><a th:if="${!#strings.isEmpty(href)}" th:href="${href}"><span th:text="${text}" /></a></p>
            <p><a th:href="'/'">Go back to main site</a></p>
        </div>
    </div>
</body>
</html>