<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <!-- Confirmation Modal -->
        <div th:fragment="modal(id, title, body)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle" th:text="${title}"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span th:text="${body}"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Reject</button>
                        <button type="submit" data-bs-dismiss="modal" class="btn btn-primary modal-accept-button">Accept</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Upsert Modal -->
        <div th:fragment="upsertModal(modal)" class="modal fade" th:id="${modal.id}" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" th:with="size=${modal.size}"
                 th:classappend="|${(size != null and size == 'small') ? 'modal-sm' : ''}
                        ${(size != null and size == 'large') ? 'modal-lg' : ''}
                        ${(size != null and size == 'extra-large') ? 'modal-xl' : ''}|">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle" th:text="${modal.title}"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-auto p-0 border-end" role="tabpanel" th:if="${#lists.size(pages) > 1}">
                                <div class="list-group list-group-flush" id="modal-list" role="tablist">
                                    <a th:each="page : ${pages}" class="list-group-item list-group-item-action"
                                       data-bs-toggle="list" role="tab"
                                       th:href="|#tab-pane-${pageStat.index}|"
                                       th:classappend="${pageStat.first ? 'active' : ''}" th:aria-current="${pageStat.first}"
                                       th:text="${page.type.getName()}">Page name</a>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="tab-content">
                                    <div th:each="page : ${pages}" th:id="|tab-pane-${pageStat.index}|"
                                         class="tab-pane" id="properties" role="tabpanel" th:classappend="${pageStat.first ? 'active' : ''}">
                                        <form class="modal-form" th:action="${pageStat.last ? modal.action : ''}">
                                            <div class="modal-body">
                                                <th:block th:if="${pageStat.first}">
                                                    <th:block th:insert="this :: modalBody()">Body</th:block>
                                                </th:block>
                                            </div>
                                            <div class="modal-footer">
                                                <th:block th:each="button : ${page.buttons}">
                                                    <button th:if="${button.isAcceptButton()}" th:text="${button.text}" class="btn btn-outline-primary modal-accept-button" type="submit"></button>
                                                    <button th:if="${button.isResetButton()}" th:text="${button.text}" class="btn btn-outline-secondary" type="reset"></button>
                                                    <button th:if="${button.isRejectButton()}" th:text="${button.text}" class="btn btn-outline-danger" type="button"  data-bs-dismiss="modal"></button>
                                                    <button th:if="${button.isPreviousButton()}" th:text="${button.text}" th:value="${pageStat.index}" class="btn btn-primary bi bi-caret-left-fill modal-previous-button" type="submit"></button>
                                                    <button th:if="${button.isNextButton()}" th:text="${button.text}" th:value="${pageStat.index}" class="btn btn-primary bi bi-caret-right-fill modal-next-button" type="submit"></button>
                                                </th:block>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:fragment="modalBody()" th:object="${context}">
            <input type="hidden" th:field="*{pages}"/>
            <input type="hidden" th:field="*{typeName}"/>
            <th:block th:replace="fragments/property-page :: property-page(${propertyPage})"/>
        </th:block>
    </body>
</html>