<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <th:block th:fragment="property-page(propertyPage)" th:object="${context}">
            <th:block th:if="${propertyPage == null}">
                <span>Property Page for selected object is not defined</span>
            </th:block>
            <th:block th:unless="${propertyPage == null}">
                <th:block th:insert="this :: property-page-controls(${propertyPage?.controls}, ${prefix == null ? '' : prefix + '.'})"/>
            </th:block>
        </th:block>

        <th:block th:fragment="property-page-controls(controls, prefix)">
            <th:block th:each="control : ${controls}">
                <fieldset class="row mb-3" th:if="${#strings.equals(control.type, 'radio')}">
                    <th:block th:insert="this :: property-page-control(${control}, ${prefix})"/>
                </fieldset>
                <div th:class="${(#strings.equals(control.type, 'tabs') ? '' : 'row') + (controlStat.last ? '' : ' mb-3')}" th:unless="${#strings.equals(control.type, 'radio')}">
                    <th:block th:insert="this :: property-page-control(${control}, ${prefix})"/>
                </div>
            </th:block>
        </th:block>

        <th:block th:fragment="property-page-control(control, prefix)">
            <th:block th:switch="${control.type}">
                <th:block th:case="columns">
                    <th:block th:each="columnControl : ${control?.controls}">
                        <th:block th:insert="this :: property-page-control(${columnControl}, ${prefix})"/>
                    </th:block>
                </th:block>
                <th:block th:case="tabs">
                    <ul class="nav nav-tabs" th:id="${control.label}" role="tablist">
                        <li class="nav-item" role="presentation" th:each="tab : ${control?.tabs}">
                            <button th:text="${tab.name}" class="nav-link" th:classappend="${(tabStat.index == 0 ? ' active' : '')}" th:id="${tab.name + '-tab'}" data-bs-toggle="tab" th:data-bs-target="${'#' + tab.name}" type="button" role="tab" th:aria-controls="${tab.name}" th:aria-selected="${tabStat.index == 0}"></button>
                        </li>
                    </ul>
                    <div class="tab-content rounded-bottom border-bottom border-start border-end p-3" th:id="${control.label + '-content'}">
                        <div class="tab-pane fade" th:classappend="${tabStat.index == 0 ? ' show active' : ''}" th:id="${tab.name}" role="tabpanel" th:aria-labelledby="${tab.name + '-tab'}" th:each="tab : ${control?.tabs}">
                            <th:block th:insert="this :: property-page-controls(${tab?.controls}, ${prefix})"/>
                        </div>
                    </div>
                </th:block>
                <th:block th:case="label">
                    <h3 th:text="${control.expression}" class="col-sm-12">Label</h3>
                </th:block>
                <th:block th:case="separator">
                    <hr/>
                </th:block>
                <th:block th:case="money">
                    <th:block th:replace="this :: propertyLabel(${prefix})">Label</th:block>
                    <div class="col" th:with="property=${#strings.concat(prefix, control.property)}">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   data-inputmask="'alias': 'numeric', 'groupSeparator': '&nbsp;', 'radixPoint': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'placeholder': '0'"
                                   th:data-custom-validation-function="${control.customValidation?.function}"
                                   th:data-custom-validation-message="${control.customValidation?.message}"
                                   th:readonly="${propertyPage.readonly}" th:required="${control.required}"
                                   th:field="*{__${property}__}" autocomplete="off"/>
                            <span class="input-group-text" th:text="${control.currency}"></span>
                        </div>
                    </div>
                </th:block>
                <th:block th:case="number">
                    <th:block th:replace="this :: propertyLabel(${prefix})">Label</th:block>
                    <div class="col" th:with="property=${#strings.concat(prefix, control.property)}">
                        <input type="number" class="form-control"
                               th:data-custom-validation-function="${control.customValidation?.function}"
                               th:data-custom-validation-message="${control.customValidation?.message}"
                               th:min="${control.min}" th:max="${control.max}" th:step="${control.step}"
                               th:field="*{__${property}__}" th:readonly="${propertyPage.readonly}" th:required="${control.required}"/>
                    </div>
                </th:block>
                <th:block th:case="date">
                    <th:block th:replace="this :: propertyLabel(${prefix})">Label</th:block>
                    <div class="col" th:with="property=${#strings.concat(prefix, control.property)}">
                        <input type="date" class="form-control"
                               th:data-custom-validation-function="${control.customValidation?.function}"
                               th:data-custom-validation-message="${control.customValidation?.message}"
                               th:min="${control.min}" th:max="${control.max}" th:step="${control.step}"
                               th:field="*{__${property}__}" th:readonly="${propertyPage.readonly}" th:required="${control.required}"/>
                    </div>
                </th:block>
                <th:block th:case="datetime">
                    <th:block th:replace="this :: propertyLabel(${prefix})">Label</th:block>
                    <div class="col" th:with="property=${#strings.concat(prefix, control.property)}">
                        <input type="datetime-local" class="form-control"
                               th:data-custom-validation-function="${control.customValidation?.function}"
                               th:data-custom-validation-message="${control.customValidation?.message}"
                               th:min="${control.min}" th:max="${control.max}" th:step="${control.step}"
                               th:field="*{__${property}__}" th:readonly="${propertyPage.readonly}" th:required="${control.required}"/>
                    </div>
                </th:block>
                <th:block th:case="email">
                    <th:block th:replace="this :: text(${control}, ${prefix}, 'email')">Text</th:block>
                </th:block>
                <th:block th:case="text">
                    <th:block th:replace="this :: text(${control}, ${prefix}, 'text')">Text</th:block>
                </th:block>
                <th:block th:case="hidden">
                    <div class="col" th:with="property=${#strings.concat(prefix, control.property)}">
                        <input type="hidden" th:field="*{__${property}__}" />
                    </div>
                </th:block>
                <th:block th:case="textarea">
                    <th:block th:replace="this :: propertyLabel(${prefix})">Label</th:block>
                    <div class="col" th:with="property=${#strings.concat(prefix, control.property)}">
                        <textarea class="form-control"
                                  th:data-custom-validation-function="${control.customValidation?.function}"
                                  th:data-custom-validation-message="${control.customValidation?.message}"
                                  th:rows="${control.rows}" th:cols="${control.cols}" th:minlength="${control.minLength}" th:maxlength="${control.maxLength}"
                                  th:field="*{__${property}__}" th:readonly="${propertyPage.readonly}" th:required="${control.required}"></textarea>
                    </div>
                </th:block>
                <th:block th:case="combo">
                    <th:block th:replace="this :: propertyLabel(${prefix})">Label</th:block>
                    <div class="col" th:with="property=${#strings.concat(prefix, control.property)}">
                        <th:block th:with="propertyValue=${context.__${property}__},propertyValueString=${propertyValue instanceof T(java.lang.String) or propertyValue == null ? propertyValue : propertyValue.id.toString()},dictionaryContains=${#maps.containsKey(control.values, propertyValueString)}">
                            <input th:if="${propertyPage.readonly}" type="text" class="form-control" th:classappend="${dictionaryContains} ? '' : 'bg-danger'"
                                   th:value="${dictionaryContains ? control.values.get(propertyValueString) : 'DEPRECATED'}" readonly/>
                            <select th:unless="${propertyPage.readonly}" class="form-select" th:name="__${property}__"
                                    th:id="__${#strings.replace(#strings.replace(property, '[', ''), ']', '')}__"
                                    th:required="${control.required}">
                                <option th:if="${propertyValueString != null ? not dictionaryContains : false}" value="" selected disabled hidden>DEPRECATED</option>
                                <option th:each="value : ${control.values}" th:value="${value.key}" th:text="${value.value}" th:selected="${value.key == propertyValueString}"></option>
                            </select>
                        </th:block>
                    </div>
                </th:block>
                <th:block th:case="radio">
                    <th:block th:unless="${propertyPage.readonly}">
                        <legend th:text="${control.label + (control.required ? '*' : '')}" class="col-sm-2 col-form-label pt-0">Property name</legend>
                        <div class="col" th:with="property=${#strings.concat(prefix, control.property)}" >
                            <div class="form-check form-check-inline" th:each="value : ${control.values}">
                                <input class="form-check-input" type="radio" th:required="${control.required}"
                                    th:field="*{__${property}__}" th:value="${value.key}">
                                <label class="form-check-label" th:for="${control.property + valueStat.count}" th:text="${value.value}"></label>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:if="${propertyPage.readonly}" th:with="property=${#strings.concat(prefix, control.property)}">
                        <th:block th:replace="this :: propertyLabel(${prefix})">Label</th:block>
                        <div class="col" th:with="propertyValue=${context.__${property}__},propertyValueString=${propertyValue instanceof T(java.lang.String) or propertyValue == null ? propertyValue : propertyValue.id.toString()},dictionaryContains=${#maps.containsKey(control.values, propertyValueString)}">
                            <input th:if="${propertyPage.readonly}" type="text" class="form-control" th:classappend="${dictionaryContains} ? '' : 'bg-danger'"
                                   th:value="${dictionaryContains ? control.values.get(propertyValueString) : 'DEPRECATED'}" readonly/>
                        </div>
                    </th:block>
                </th:block>
                <th:block th:case="table">
                    <div class="col">
                        <th:block th:insert="this :: table(${control}, ${propertyPage.readonly})"></th:block>

                        <template th:id="|__${control.property}__-row-template|"></template>
                        <button type="button" class="btn btn-sm btn-outline-dark bi bi-plus-lg "
                            th:unless="${propertyPage.readonly}" th:id="|__${control.property}__-table-add-button|"
                            th:value="${prefix}"> Add new</button>
                    </div>
                </th:block>
                <th:block th:case="*">
                    <span th:text="|Unsupported control of type '${control.type}'|"></span>
                </th:block>
            </th:block>
        </th:block>

        <th:block th:fragment="text(control, prefix, textType)">
            <th:block th:replace="this :: propertyLabel(${prefix})">Label</th:block>
            <div class="col" th:with="property=${#strings.concat(prefix, control.property)}">
                <input th:type="${textType}" class="form-control"
                       th:data-custom-validation-function="${control.customValidation?.function}"
                       th:data-custom-validation-message="${control.customValidation?.message}"
                       th:data-inputmask-regex="${control.pattern}"
                       th:pattern="${control.pattern}" th:minlength="${control.minLength}" th:maxlength="${control.maxLength}"
                       th:field="*{__${property}__}" th:readonly="${propertyPage.readonly}" th:required="${control.required}"/>
            </div>
        </th:block>

        <table th:fragment="table(control, readonly)"
               th:id="|__${control.property}__-table|"
               th:with="property=${#strings.concat(prefix, control.property)}"
               class="table table-sm caption-top">
            <caption class="text-black" th:text="${control.label + (control.required ? '*' : '')}"></caption>
            <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col" th:each="tableControl : ${control?.controls}" th:text="${tableControl.label}"></th>
                <th scope="col" th:text="Delete" th:unless="${readonly}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : *{__${property}__}"> <!--/* for each array element */-->
                <th:block th:insert="this :: table-row(${control}, ${rowStat.index}, ${readonly})"></th:block>
            </tr>
            </tbody>
        </table>

        <th:block th:fragment="table-row(control, index, readonly)"
                  th:with="property=${#strings.concat(prefix, control.property)}">
            <th class="row-count align-middle" scope="row" th:text="${index + 1}"></th>
            <td class="d-none"><input type="hidden" th:field="*{__${property}__[__${index}__].id}" th:readonly="${readonly}"></td>
            <th:block th:each="tableControl : ${control?.controls}">
                <td th:insert="this :: table-control(${tableControl}, |__${property}__[__${index}__].|, ${readonly})"/>
            </th:block>
            <td th:unless="${readonly}">
                <button th:if="${index > 0}" type="button" class="btn bi bi-trash-fill align-middle"
                        th:classappend="|__${property}__-table-delete-button|" th:value="${index}"></button>
            </td>
        </th:block>

        <!--/* Slightly simplified row handling for template purposes */-->
        <tr th:fragment="table-template-row(control, readonly)" th:object="${context}">
            <th class="row-count align-middle" scope="row"></th>
            <td class="d-none"><input type="hidden" th:field="*{id}" th:readonly="${readonly}"></td>
            <th:block th:each="tableControl : ${control?.controls}">
                <td th:insert="this :: table-control(${tableControl}, '', ${readonly})"/>
            </th:block>
            <td th:unless="${readonly}">
                <button type="button" class="btn bi bi-trash-fill align-middle"
                        th:classappend="|__${control.property}__-table-delete-button|"></button>
            </td>
        </tr>

        <th:block th:fragment="table-control(control, prefix, readonly)" th:with="property=${#strings.concat(prefix, control.property)}">
            <th:block th:switch="${control.type}">
                <th:block th:case="money">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               data-inputmask="'alias': 'numeric', 'groupSeparator': '&nbsp;', 'radixPoint': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'placeholder': '0'"
                               th:data-custom-validation-function="${control.customValidation?.function}"
                               th:data-custom-validation-message="${control.customValidation?.message}"
                               th:readonly="${readonly}" required
                               th:field="*{__${property}__}" autocomplete="off"/>
                        <span class="input-group-text" th:text="${control.currency}"></span>
                    </div>
                </th:block>
                <th:block th:case="number">
                    <input type="number" class="form-control"
                           th:data-custom-validation-function="${control.customValidation?.function}"
                           th:data-custom-validation-message="${control.customValidation?.message}"
                           th:min="${control.min}" th:max="${control.max}" th:step="${control.step}"
                           th:field="*{__${property}__}" th:readonly="${readonly}" required/>
                </th:block>
                <th:block th:case="date">
                    <input type="date" class="form-control"
                           th:data-custom-validation-function="${control.customValidation?.function}"
                           th:data-custom-validation-message="${control.customValidation?.message}"
                           th:min="${control.min}" th:max="${control.max}" th:step="${control.step}"
                           th:field="*{__${property}__}" th:readonly="${readonly}" required/>
                </th:block>
                <th:block th:case="datetime">
                    <input type="datetime-local" class="form-control"
                           th:data-custom-validation-function="${control.customValidation?.function}"
                           th:data-custom-validation-message="${control.customValidation?.message}"
                           th:min="${control.min}" th:max="${control.max}" th:step="${control.step}"
                           th:field="*{__${property}__}" th:readonly="${readonly}" required/>
                </th:block>
                <th:block th:case="email">
                    <th:block th:replace="this :: table-text(${control}, ${prefix}, ${property}, ${readonly}, 'email')">Text</th:block>
                </th:block>
                <th:block th:case="text">
                    <th:block th:replace="this :: table-text(${control}, ${prefix}, ${property}, ${readonly}, 'text')">Text</th:block>
                </th:block>
                <th:block th:case="combo" th:with="propertyValue=${context.__${property}__},propertyValueString=${propertyValue instanceof T(java.lang.String) or propertyValue == null ? propertyValue : propertyValue.id.toString()},dictionaryContains=${#maps.containsKey(control.values, propertyValueString)}">
                    <input th:if="${readonly}" type="text" class="form-control" th:classappend="${dictionaryContains} ? '' : 'bg-danger'"
                           th:value="${dictionaryContains ? control.values.get(propertyValueString) : 'DEPRECATED'}" readonly/>
                    <select th:unless="${readonly}" class="form-select" th:name="__${property}__"
                            th:id="__${#strings.replace(#strings.replace(property, '[', ''), ']', '')}__"
                            required>
                        <option th:if="${propertyValueString != null ? not dictionaryContains : false}" value="" selected disabled hidden>DEPRECATED</option>
                        <option th:each="value : ${control.values}" th:value="${value.key}" th:text="${value.value}" th:selected="${value.key == propertyValueString}"></option>
                    </select>
                </th:block>
                <th:block th:case="*">
                    <span th:text="|Unsupported control of type '${control.type}'|"></span>
                </th:block>
            </th:block>
        </th:block>

        <input th:fragment="table-text(control, prefix, property, readonly, textType)"
               th:type="${textType}" class="form-control"
               th:data-custom-validation-function="${control.customValidation?.function}"
               th:data-custom-validation-message="${control.customValidation?.message}"
               th:data-inputmask-regex="${control.pattern}"
               th:pattern="${control.pattern}" th:minlength="${control.minLength}" th:maxlength="${control.maxLength}"
               th:field="*{__${property}__}" th:readonly="${readonly}" required>Input</input>

        <label th:fragment="propertyLabel(prefix)" th:for="${#strings.concat(prefix, control.property)}" th:text="${control.label + (control.required ? '*' : '')}" class="col-sm-2 col-form-label">Property name</label>
    </body>
</html>