<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <th:block th:fragment="property-page" th:object="${object}">
            <th:block th:insert="fragments/property-page :: property-page-controls(${propertyPage?.controls})"/>
            <th:block th:if="${propertyPage == null}">
                <span th:if="${nothingSelected}">Nothing is selected</span>
                <span th:unless="${nothingSelected}">Property Page for selected object is not defined</span>
            </th:block>
        </th:block>

        <th:block th:fragment="property-page-controls(controls)">
            <th:block th:each="control : ${controls}">
                <fieldset class="row mb-3" th:if="${#strings.equals(control.type, 'radio')}">
                    <th:block th:insert="fragments/property-page :: property-page-control(${control})"/>
                </fieldset>
                <div th:class="${(#strings.equals(control.type, 'tabs') ? '' : 'row') + (controlStat.last ? '' : ' mb-3')}" th:unless="${#strings.equals(control.type, 'radio')}">
                    <th:block th:insert="fragments/property-page :: property-page-control(${control})"/>
                </div>
            </th:block>
        </th:block>

        <th:block th:fragment="property-page-control(control)">
            <th:block th:switch="${control.type}">
                <th:block th:case="columns">
                    <th:block th:each="innerControl : ${control?.controls}">
                        <th:block th:insert="fragments/property-page :: property-page-control(${innerControl})"/>
                    </th:block>
                </th:block>
                <th:block th:case="tabs">
                    <ul class="nav nav-tabs" th:id="${control.label}" role="tablist">
                        <li class="nav-item" role="presentation" th:each="tab : ${control?.tabs}">
                            <button th:text="${tab.name}" class="nav-link" th:classappend="${(tabStat.index == 0 ? ' active' : '')}" th:id="${tab.label + '-tab'}" data-bs-toggle="tab" th:data-bs-target="${'#' + tab.label}" type="button" role="tab" th:aria-controls="${tab.label}" th:aria-selected="${tabStat.index == 0}"></button>
                        </li>
                    </ul>
                    <div class="tab-content rounded-bottom border-bottom border-start border-end p-3" th:id="${control.label + '-content'}">
                        <div class="tab-pane fade" th:classappend="${tabStat.index == 0 ? ' show active' : ''}" th:id="${tab.label}" role="tabpanel" th:aria-labelledby="${tab.label + '-tab'}" th:each="tab : ${control?.tabs}">
                            <th:block th:insert="fragments/property-page :: property-page-controls(${tab?.controls})"/>
                        </div>
                    </div>
                </th:block>
                <th:block th:case="label">
                    <h3 th:text="${control.expression}" class="col-sm-12">Label</h3>
                </th:block>
                <th:block th:case="separator">
                    <hr/>
                </th:block>
                <th:block th:case="money">
                    <label th:for="${control.property}" th:text="${control.label}" class="col-sm-2 col-form-label">Property name</label>
                    <div class="col" th:with="controlName=${control.property}">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   data-inputmask="'alias': 'numeric', 'groupSeparator': ' ', 'radixPoint': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'placeholder': '0'"
                                   th:readonly="${propertyPage.readonly}" th:required="${control.required}"
                                   th:field="*{__${controlName}__}" autocomplete="off"/>
                            <span class="input-group-text" th:text="${control.currency}"></span>
                        </div>
                    </div>
                </th:block>
                <th:block th:case="number">
                    <label th:for="${control.property}" th:text="${control.label}" class="col-sm-2 col-form-label">Property name</label>
                    <div class="col" th:with="controlName=${control.property}">
                        <input type="number" class="form-control"
                               th:min="${control.min}" th:max="${control.max}" th:step="${control.step}"
                               th:field="*{__${controlName}__}" th:readonly="${propertyPage.readonly}" th:required="${control.required}"/>
                    </div>
                </th:block>
                <th:block th:case="text">
                    <label th:for="${control.property}" th:text="${control.label}" class="col-sm-2 col-form-label">Property name</label>
                    <div class="col" th:with="controlName=${control.property}">
                        <input type="text" class="form-control"
                               th:data-inputmask-regex="${control.pattern}"
                               th:pattern="${control.pattern}" th:minlength="${control.minLength}" th:maxlength="${control.maxLength}"
                               th:field="*{__${controlName}__}" th:readonly="${propertyPage.readonly}" th:required="${control.required}"/>
                    </div>
                </th:block>
                <th:block th:case="textarea">
                    <label th:for="${control.property}" th:text="${control.label}" class="col-sm-2 col-form-label">Property name</label>
                    <div class="col" th:with="controlName=${control.property}">
                        <textarea class="form-control"
                               th:rows="${control.rows}" th:cols="${control.cols}" th:minlength="${control.minLength}" th:maxlength="${control.maxLength}"
                               th:field="*{__${controlName}__}" th:readonly="${propertyPage.readonly}" th:required="${control.required}"></textarea>
                    </div>
                </th:block>
                <th:block th:case="combo">
                    <label th:for="${control.property}" th:text="${control.label}" class="col-sm-2 col-form-label">Property name</label>
                    <div class="col" th:with="controlName=${control.property}">
                        <select class="form-select"
                               th:field="*{__${controlName}__}" th:readonly="${propertyPage.readonly}" th:required="${control.required}">
                            <option th:each="value : ${control.values}" th:value="${value.key}" th:text="${value.value}"></option>
                        </select>
                    </div>
                </th:block>
                <th:block th:case="radio">
                    <legend th:text="${control.label}" class="col-sm-2 col-form-label pt-0">Property name</legend>
                    <div class="col">
                        <div class="form-check form-check-inline" th:each="value : ${control.values}" th:with="controlName=${control.property}">
                            <input class="form-check-input" type="radio" th:field="*{__${controlName}__}" th:value="${value.key}">
                            <label class="form-check-label" th:for="${control.property + valueStat.count}" th:text="${value.value}"></label>
                        </div>
                    </div>
                </th:block>
                <th:block th:case="*">
                    <label th:for="${control.property}" th:text="${control.label}" class="col-sm-2 col-form-label">Property name</label>
                    <div class="col" th:with="controlName=${control.property}">
                        <input th:type="${control.type}" class="form-control"
                               th:field="*{__${controlName}__}" th:readonly="${propertyPage.readonly}" th:required="${control.required}"/>
                    </div>
                </th:block>
            </th:block>
        </th:block>
    </body>
</html>