<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <div id="bank-account-list-widget" class="py-3" th:fragment="bank-account-list-widget">
            <button id="bank-account-list-refresh-button" type="button" class="btn btn-sm btn-outline-dark mb-2 bi bi-arrow-clockwise"> Refresh</button>
            <table class="table table-striped">
                <caption>Bank accounts</caption>
                <thead>
                <tr>
                    <th scope="col">Account Name</th>
                    <th scope="col">Bank Name</th>
                    <th scope="col">Account Number</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr scope="col" th:if="${bankAccounts.empty}">
                    <td colspan="8"> No Bank accounts Available </td>
                </tr>
                <tr scope="col" th:each="bankAccount : ${bankAccounts}">
                    <td><span th:text="${bankAccount.objectName}"> Account Name </span></td>
                    <td><span th:text="${bankAccount.bankName}"> Bank Name </span></td>
                    <td><span th:text="${bankAccount.accountNumber}"> Account Number </span></td>
                    <td>
                        <button th:value="${bankAccount.id}" class="btn bi bi-pencil-fill bank-account-update-button" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit bank account"></button>
                    </td>
                    <td>
                        <span data-bs-toggle="modal" data-bs-target="#bank-account-delete-modal">
                            <button th:value="${bankAccount.id}" class="btn bi bi-trash-fill bank-account-delete-button" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete bank account"></button>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>

            <th:block th:replace="fragments/modal :: modal('bank-account-delete-modal', 'Deletion', 'Do you really want to delete this bank account?')">modal</th:block>
        </div>
    </body>
</html>