<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <div id="customer-list-widget" class="py-3" th:fragment="customer-list-widget">
            <button id="customer-list-refresh-button" type="button" class="btn btn-sm btn-outline-dark mb-2 bi bi-arrow-clockwise"> Refresh</button>
            <table class="table table-striped">
                <caption>Customers</caption>
                <thead>
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Corporate</th>
                    <th scope="col">Vat Identification Number</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr scope="col" th:if="${customers.empty}">
                    <td colspan="8"> No Customers Available </td>
                </tr>
                <tr scope="col" th:each="customer : ${customers}">
                    <td><span th:text="${customer.customerName}"> Customer Name </span></td>
                    <td><span th:text="${customer.corporate ? '✓' : '✕'}"> Corporate </span></td>
                    <td><span th:text="${customer.vatIdentificationNumber}"> Vat Identification Number </span></td>
                    <td><span th:text="${customer.phoneNumber}"> Phone Number </span></td>
                    <td><span th:text="${customer.email}"> Email </span></td>
                    <td><span th:text="${customer.address}"> Address </span></td>
                    <td>
                        <button th:value="${customer.id}" class="btn bi bi-pencil-fill customer-update-button" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit customer"></button>
                    </td>
                    <td>
                        <span data-bs-toggle="modal" data-bs-target="#customer-delete-modal">
                            <button th:value="${customer.id}" class="btn bi bi-trash-fill customer-delete-button" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete customer"></button>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>

            <th:block th:replace="fragments/modal :: modal('customer-delete-modal', 'Deletion', 'Do you really want to delete this customer?')">modal</th:block>
        </div>
    </body>
</html>