<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <div id="invoice-list-widget" class="py-3" th:fragment="invoice-list-widget">
            <table class="table table-striped">
                <caption>Invoices</caption>
                <thead>
                <tr>
                    <th scope="col">Serial Number</th>
                    <th scope="col">Invoice Name</th>
                    <th scope="col">Invoice Date</th>
                    <th scope="col">Service Date</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Download</th>
                </tr>
                </thead>
                <tbody>
                <tr scope="col" th:if="${invoices.empty}">
                    <td colspan="8"> No Invoices Available </td>
                </tr>
                <tr scope="col" th:each="invoice : ${invoices}">
                    <td><span th:text="${invoice.serialNumber}"> Serial Number </span></td>
                    <td><span th:text="${invoice.objectName}"> Invoice Name </span></td>
                    <td><span th:text="${invoice.issueDate}"> Issue Date </span></td>
                    <td><span th:text="${invoice.serviceDate}"> Service Date </span></td>
                    <td><span th:text="${invoice.comments}"> Comments </span></td>
                    <td>
                        <button th:value="${invoice.id}" class="btn bi bi-pencil-fill invoice-update-button" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit invoice"></button>
                    </td>
                    <td>
                        <span data-bs-toggle="modal" data-bs-target="#invoice-delete-modal">
                            <button th:value="${invoice.id}" class="btn bi bi-trash-fill invoice-delete-button" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete invoice"></button>
                        </span>
                    </td>
                    <td>
                        <form th:if="${invoice.hasPdfRendition()}" th:action="@{/invoice/rendition/{id}(id = ${invoice.id})}" method="get">
                            <button class="btn bi bi-file-earmark-arrow-down-fill" type="submit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download PDF rendition"></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <th:block th:replace="fragments/modal :: modal('invoice-delete-modal', 'Deletion', 'Do you really want to delete this invoice?')">modal</th:block>
        </div>
    </body>
</html>