<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <div id="repository-widget" th:fragment="repository-widget">
            <div class="row row-cols-1 mt-2">
                <div class="col mb-2  d-grid gap-2 d-md-block">
                    <button id="export-button" class="btn btn-sm btn-primary bi bi-box-arrow-down d-none" type="submit">Export</button>

                    <button id="refresh-button" class="btn btn-sm btn-primary bi bi-arrow-repeat" type="submit">Refresh</button>
                </div>
                <div class="col mb-2">
                    <div id="directory-tree" class="overflow-auto d-none"></div>
                    <span id="directory-empty-text">Repository is empty</span>
                </div>
            </div>
        </div>
    </body>
</html>