<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <div id="repository-widget" class="py-3" th:fragment="repository-widget">
            <div class="row row-cols-1">
                <form class="form-inline" action="/directory">
                    <button id="export-button" name="export" class="btn btn-sm btn-primary bi bi-box-arrow-down mb-2 d-none" type="submit"> Export</button>
                    <button id="refresh-button" class="btn btn-sm btn-primary bi bi-arrow-repeat mb-2" type="submit"> Refresh</button>
                </form>
                <div class="col mb-2">
                    <div id="directory-tree" class="overflow-auto d-none"></div>
                    <span id="directory-empty-text">Repository is empty</span>
                </div>
            </div>
        </div>
    </body>
</html>