<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="general.html :: headerfiles">
    </head>
    <body>
        <div th:replace="general.html :: navigation"></div>

        <main role="main" class="container">
            <h1>Generate new invoice</h1>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 mt-5">
                        <form action="#" th:action="@{/invoice/generate}" th:object="${invoice}" method="post">
                            <div class="form-group row">
                                <label for="serialNumber" class="col-sm-4 col-form-label">Serial Number</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="serialNumber" min="1" step="1" th:field="*{serialNumber}" th:required="required"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="invoiceDate" class="col-sm-4 col-form-label">Invoice Date</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="invoiceDate" th:field="*{invoiceDate}" th:required="required"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="serviceDate" class="col-sm-4 col-form-label">Service Date</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="serviceDate" th:field="*{serviceDate}" th:required="required"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="netValue" class="col-sm-4 col-form-label">Net Value</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="netValue"
                                           data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': 'PLN ', 'placeholder': '0'"
                                           autocomplete="off" th:field="*{netValue}" th:required="required"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="comments" class="col-sm-4 col-form-label">Comments</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="comments" type="text" maxlength="3000" th:field="*{comments}"/>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit">Add invoice</button>
                                <button class="btn btn-primary" name="action" value="saveAndDownload" type="submit">Add invoice and download</button>
                                <button class="btn btn-secondary" type="reset">Reset form</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <div th:replace="general.html :: footer"></div>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>

        <script>
            $(":input").inputmask();
        </script>
    </body>
</html>