<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/general.html :: headerfiles">
    </head>
    <body>
        <div th:replace="fragments/general.html :: navigation"></div>

        <main role="main" class="container jumbotron text-center">
                <h1>Something went wrong! </h1>
                <h2>Our Engineers are on it</h2>
                <h2 th:text="${errorMessage}"/>
                <a class="btn btn-primary bi bi-house-door-fill" href="/"> Go Home</a>
        </main>

        <div th:replace="fragments/general.html :: footer"></div>
    </body>
</html>