<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/general.html :: headerfiles">
    </head>
    <body>
        <div th:replace="fragments/general.html :: navigation"></div>

        <main role="main" class="container">
            <div class="starter-template">
                <h1>AVISPA μF Invoice Manager</h1>
                <h2>
                    <span th:text="'Hello, ' + ${message}"></span>
                </h2>
            </div>

            <table class="table table-striped">
                <caption>Invoices</caption>
                <thead>
                    <tr>
                        <th scope="col"> Serial Number </th>
                        <th scope="col"> Invoice Name </th>
                        <th scope="col"> Invoice Date </th>
                        <th scope="col"> Service Date </th>
                        <th scope="col"> Net Value </th>
                        <th scope="col"> Comments </th>
                        <th scope="col"> Edit </th>
                        <th scope="col"> Delete </th>
                        <th scope="col"> Download </th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="col" th:if="${invoices.empty}">
                        <td colspan="9"> No Invoices Available </td>
                    </tr>
                    <tr scope="col" th:each="invoice : ${invoices}">
                        <td><span th:text="${invoice.serialNumber}"> Serial Number </span></td>
                        <td><span th:text="${invoice.objectName}"> Invoice Name </span></td>
                        <td><span th:text="${invoice.invoiceDate}"> Invoice Date </span></td>
                        <td><span th:text="${invoice.serviceDate}"> Service Date </span></td>
                        <td><span th:text="${invoice.netValue} + 'PLN'"> Net Value </span></td>
                        <td><span th:text="${invoice.comments}"> Comments </span></td>
                        <td>
                            <form th:action="@{/invoice/update/{id}(id = ${invoice.id})}" method="get">
                                <button class="btn bi bi-pencil-fill" type="submit" data-toggle="tooltip" data-placement="bottom" title="Edit invoice"></button>
                            </form>
                        </td>
                        <td>
                            <span data-toggle="modal" data-target="#invoice-delete-modal">
                                <button class="btn bi bi-trash-fill delete-button" type="button" data-toggle="tooltip" data-placement="bottom" title="Delete invoice"></button>
                                <input type="hidden" id="invoice-id" th:value="${invoice.id}">
                            </span>
                        </td>
                        <td>
                            <form th:if="${invoice.hasPdfRendition()}" th:action="@{/invoice/rendition/{id}(id = ${invoice.id})}" method="get">
                                <button class="btn bi bi-file-earmark-arrow-down-fill" type="submit" data-toggle="tooltip" data-placement="bottom" title="Download pdf rendition"></button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>

        <div th:replace="fragments/general.html :: footer"></div>

        <!--/* Modal is created once but invoice id varies in each row and has to be added dynamically */-->
        <script>
            $(".delete-button").on('click', function () {
                const id = $(this).parent().find("#invoice-id").val();
                $("#invoice-delete-modal").find("#modal-accept-form").attr("action", "/invoice/delete/" + id);
            });
        </script>

        <th:block th:replace="fragments/modal :: modal('invoice-delete-modal', 'Deletion', 'Do you really want to delete this invoice?', 'delete')">modal</th:block>
    </body>
</html>