<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/general.html :: headerfiles">
    </head>
    <body>
        <div th:replace="fragments/general.html :: navigation"></div>

        <main role="main" class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <nav aria-label="Sidebar">
                        <div class="nav nav-tabs" id="nav-tab-sidebar" role="tablist">
                            <button class="nav-link active" id="nav-repository-tab" data-bs-toggle="tab" data-bs-target="#nav-repository" type="button" role="tab" aria-controls="nav-repository" aria-selected="true">Repository</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tab-sidebarContent">
                        <div id="nav-repository" aria-labelledby="nav-repository-tab" class="tab-pane fade show active" role="tabpanel">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <nav aria-label="Center">
                        <div class="nav nav-tabs" id="nav-tab-center" role="tablist">
                            <button class="nav-link active" id="nav-properties-tab" data-bs-toggle="tab" data-bs-target="#nav-properties" type="button" role="tab" aria-controls="nav-properties" aria-selected="true">Properties</button>
                            <button class="nav-link" id="nav-invoices-tab" data-bs-toggle="tab" data-bs-target="#nav-invoices" type="button" role="tab" aria-controls="nav-invoices" aria-selected="true">Invoices</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tab-centerContent">
                        <div id="nav-properties" class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-properties-tab" >
                        </div>
                        <div id="nav-invoices" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-invoices-tab">
                        </div>
                    </div>
                </div>
            </div>

            <div aria-live="polite" aria-atomic="true">
                <div id="notifications" class="toast-container position-fixed bottom-0 end-0 p-3 mb-5">
                </div>
                <div id="modals">
                </div>
            </div>
        </main>

        <th:block th:replace="fragments/general.html :: footer"></th:block>
    </body>
</html>